<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<script src="JS/jquery-3.1.1.js"></script>
<script src="JS/bootstrap.min.js"></script>

<style>
/* .row {
	border: 1px solid black;
}
 */
#map {
	height: 590px;
	border: 1px solid black;
}
</style>
</head>
<body>
<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2"> <input type="text" placeholder="Source"></div>
			<div class="col-sm-2"> <input type="text" placeholder="Destination"></div>
            <div class="col-sm-2">
				<button class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-search"></span> Search
				</button>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-9" id="map"></div>
		</div>
</div>

		<script type="text/javascript" src="Map.js"></script>

		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5LWOi2wv_rEWXviskgorrdTncVmwoDqY&callback=getLocation">
			
		</script>
</body>
</html>