<!DOCTYPE html>
<html lang="en">
<head>
    <title>Google Maps API</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABLDygQJGwH-f7BjQzlDnDJ7bcSJuMA_M&libraries=geometry,places"></script>
    <script src="../JS/myMaps_Shubham.js"></script>
</head>
<body>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <br />
                <div class="row txtMarginBottom">
                    <div class="col-xs-2">
                        <input type="text" placeholder="source" class="form-control" id="txtSource" />
                    </div>
                    <div class="col-xs-2" style="margin-left: 10px">
                        <input type="text" placeholder="destination" class="form-control" id="txtDestination" />
                    </div>
                    <div class="col-xs-1">
                        <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <br/>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row txtMarginBottom">
                            <div class="col-xs-12" id="divMap" style="margin-left:10px;height: 400px; width: 98%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>









